
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="box box-danger">
            <div class="box-header">
                <a href="/Credit/Detail/@ViewBag.Credit.Id" class="btn btn-primary"><i class="fa fa-external-link"></i> Back</a>
                <h4>@ViewBag.Credit.Customer.Name</h4>
            </div>
            <form id="form-cash-bank">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="CreditApprovalId" name="CreditApprovalId" value="@ViewBag.Credit.Id" type="hidden" />
                                <label>Kode Customer MySAP:</label>
                                <input class="form-control" value="@ViewBag.Credit.Customer.CustomerNo" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>NPWP:</label>
                                <input class="form-control" value="@ViewBag.Credit.Customer.NPWP" disabled />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Alamat Customer:</label>
                                <input class="form-control" value="@ViewBag.Credit.Customer.Address" disabled />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Jenis Garansi atau Jaminan:</label>
                                <input class="form-control" value="@ViewBag.Credit.Guarantee" disabled />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload Surat Konfirmasi ke Bank:</label>
                                <input class="form-control" name="BankGaransiDoc" id="BankGaransiDoc" type="file" accept=".pdf" required />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload Balasan Konfirmasi dari Bank:</label>
                                <input class="form-control" name="BankKonfirmasiDoc" id="BankKonfirmasiDoc" type="file" accept=".pdf" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" id="btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(function () {

        /*
         * description : Submit cash bank
         */
        $('#form-cash-bank').validator().on('submit', function (e) {

            if (!e.isDefaultPrevented()) {
                $("#btn-submit").prop('disabled', true);

                let dataFormBankGaransiDoc = new FormData();
                let dataFormBankKonfirmasiDoc = new FormData();
                dataFormBankGaransiDoc.append("BankGaransiDoc", $("#BankGaransiDoc").get(0).files[0]);
                dataFormBankKonfirmasiDoc.append("BankKonfirmasiDoc", $("#BankKonfirmasiDoc").get(0).files[0]);
                let uploadBankGaransiDoc = $.ajax({
                    url: "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "CreditApproval",  action = "BankGaransiDoc", id = ViewBag.Credit.Id })",
                    type: "POST",
                    data: dataFormBankGaransiDoc,
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", `Bearer ${sessionStorage.getItem("authtoken")}`);
                    }
                });

                let uploadBankKonfirmasiDoc = uploadBankGaransiDoc.then(function (data) {
                    return $.ajax({
                        url: "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "CreditApproval",  action = "BankKonfirmasiDoc", id = ViewBag.Credit.Id })",
                        type: "POST",
                        data: dataFormBankKonfirmasiDoc,
                        enctype: 'multipart/form-data',
                        processData: false,
                        contentType: false,
                        cache: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Authorization", `Bearer ${sessionStorage.getItem("authtoken")}`);
                        }
                    });
                }).catch(function (error) {
                    console.log(error);
                    alert("Error Upload");
                    $("#btn-submit").prop('disabled', false);
                });

                uploadBankKonfirmasiDoc.done(function (data) {
                    var urlRedirect = '@Url.RouteUrl("Default", new { httproute = "", controller = "Credit", action = "Detail", id = ViewBag.Credit.Id })';
                    window.location = urlRedirect;
                }); 
                return false;
            }
        });
    });
</script>
}
